services:
  - name: "Google HTTP test"
    check:
      type: http
      ssl_check: true
    service_endpoint: "https://www.google.com/"
    healthchecks_io_monitoring_url: "https://hc-ping.com/12345678-9abc-defg-hijk-lmnopqrstuv"
  - name: "Test every 30s"
    check:
      polling_timer: 30
    service_endpoint: "https://test.company.com/api/45/metrics/ping"
    healthchecks_io_monitoring_url: "https://hc-ping.com/12345678-9abc-defg-hijk-zzzzzzzzzzz"
  - name: "TCPBin TCP test"
    service_endpoint: tcpbin.com
    check:
      type: tcp
      tcp_port: 4242
      tcp_timeout: 30
    healthchecks_io_monitoring_url: "https://hc-ping.com/12345678-9abc-defg-hijk-zzzzzzzzzzz"
  - name: "Debug a specific test"
    check:
      debug: true
    service_endpoint: "https://test.company.com/api/45/metrics/ping"
    healthchecks_io_monitoring_url: "https://hc-ping.com/12345678-9abc-defg-hijk-zzzzzzzzzzz"
